.cursor-pointer{
  cursor: pointer;
}
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.mt-5 {
    margin-top: 3rem;
}
.mt-3{
  margin-top: 1rem;
}
.text-center {
    text-align: center;
}

.cust_btn {
    width: 100%;
    margin-top: 2rem;
}

.w-100 {
    width: 100%;
}

.align-items-start{
    align-items: flex-start;
}
.justtify-content-start{
    justify-content: flex-start;
}
.mt-top{
    margin-top: auto;
}
.h-100{
    height: 100%;
}
.mb-5{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 1rem;
}
.flex-wrap{
  flex-wrap: wrap;
}
.mx-auto{
  margin: 0 auto;
}
.color-secondary{
  color: #818E94;
}
.color-primary{
  color: #0d6efd;
}
.background-primary{
  background-color: #0d6efd;
}
.background-danger{
  background-color: #dc3545 !important;
}
.color-danger{
  color: #dc3545;
}
.warning{
  color: #ffc107;
}
.success{
  color: #198754;
}
.info{
  color: #0dcaf0;
}
.light{
  color: #f8f9fa;
}
.dark{
  color: #212529;
}
.bg-white{
  background-color: #fff;
}

.w-14{
  width: 14%;
}



.my-auto{
  margin: auto 0;
}
.me-auto{
   margin-left: auto;
 }

.bold{
  font-weight: bold;
}
.fontsize-1-125{
  font-size: 1.125rem;
}
.font-1-5{
  font-size: 1.5rem;
}
.fontsize-1{
  font-size: 1rem;
}
.w-48{
  width: 48%;
}
.me-3{
  margin-left: 1rem;
}
.mr-5{
  margin-right: 3rem;
}
.customMargin{
  margin-top: auto;
  margin-bottom: .5rem;
}
.btns {
  width: 100%;

  .popupBtn {
    button .t-wrapper {
      background-color: rgba(0, 0, 0, 0.08) !important;
      color: #000 !important;
    }
  }
}
.py-4{
  padding-top: 2rem;
  padding-bottom: 2rem;
}