// Media sizes:




$border-color: #E2E1E3;
$form-background-color: #F6F6F8;
$tui-font-text: 'Cairo';
$tui-font-text-m: bold 1rem/1.5rem var(--tui-font-text);
$tui-font-text-s: normal 0.5rem/1.25rem var(--tui-font-text);
$tui-primary: #0d6efd;
$tui-secondary: #818E94;
$tui-primary-text: #0d6efd;
$tui-secondary-text: #818E94;
$tui-background: #f5f8ff;
$tui-white-txt: #fff;
$tui-radius-s: 0;
$tui-radius-m: 0.75rem;
$tui-radius-l: 1.25rem;
$tui-height-l: 4.375rem;
$form-title-font-size: 1.5rem;
$form-subtitle-font-size: 1.2rem;


// Themeing bootstap
$primary: #0d6efd;
$secondary: $tui-secondary;
$border-width: 1px;
$border-radius: 8px;
$modal-border-radius: 20px;

